{% extends 'aerodevs/layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


<section id="title">
    <div class="title-section">
        <h1 class="title">Welcome.</h1>
        <div class="col-lg-6 register">
            <div class="">
                <button type="button" class="btn btn-dark btn-lg signup-button"><a href="{% url 'register' %}">Sign
                        up</a></button>
            </div>

            <div class="">
                <button type="button" class="btn btn-outline-light btn-lg login-button"><a
                        href="{% url 'login' %}">Login</a></button>
            </div>
        </div>

    </div>
</section>

<section id="introduction">
    <div>
        <div class="separation">
        </div>
        <div class="article-right">
            <div class="article-heading">
                <h2>Welcome to AeroDev, the groundbreaking platform revolutionizing aircraft recycling
                    for a sustainable future.</h2>
            </div>
            <div class="article-content">
                <p>We are dedicated to connecting aircraft manufacturers, airlines, and recycling facilities
                    to transform the
                    end-of-life aircraft components into valuable resources, promoting environmental
                    stewardship and circular
                    economy practices in the aviation industry.</p>
                <p>At AeroDev, we recognize the urgent need to address the environmental impact of
                    retiring aircraft and the vast potential for repurposing and recycling their components.
                    Our platform serves as a catalyst for change, fostering collaboration and streamlining
                    the process of giving retired aircraft a new life.</p>
            </div>
        </div>

</section>

<section class="filler">
</section>

<section id="services">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="service-image" src="{% static "images\inventory.png" %}"
                    alt="Component Inventory Management">
                <h2>Component Inventory Management</h2>
                <p>We provide manufacturers with a comprehensive system to
                    manage their inventory of retired aircraft components. </p>
            </div>
            <div class="carousel-item">
                <img class="service-image" src="{% static "images\checklist.png" %}" alt="Component Request System">
                <h2>Component Request System</h2>
                <p>Airlines can utilize our platform to browse the available inventory of retired aircraft
                    components and submit requests for specific parts they require for maintenance or upgrades. </p>
            </div>
            <div class="carousel-item">

                <img class="service-image" src="{% static "images\monitor.png" %}" alt="Analytics and Insights">
                <h2>Analytics and Insights</h2>
                <p>Our data analytics provide valuable insights and trends related to the
                    repurposing and recycling of aircraft components. </p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>



<section id="join-us">
    <h2>Our partners</h2>
    <div class="grid-container">
        <div class="grid-item"><img class="brand-logo" src="{% static "images\Airbus-logo.png" %}"
                alt="Analytics and Insights"></div>
        <div class="grid-item"><img class="brand-logo" src="{% static "images\Boeing-logo.png" %}"
                alt="Analytics and Insights"></div>
        <div class="grid-item"><img class="brand-logo" src="{% static "images\Bombardier-logo.png" %}"
                alt="Analytics and Insights"></div>
        <div class="grid-item"><img class="brand-logo" src="{% static "images\Cessna-logo.png" %}"
                alt="Analytics and Insights"></div>
        <div class="grid-item"><img class="brand-logo" src="{% static "images\Embraer-logo.png" %}"
                alt="Analytics and Insights"></div>
        <div class="grid-item"><img class="brand-logo" src="{% static "images\Gulfstream-logo.png" %}"
                alt="Analytics and Insights"></div>
    </div>
</section>

{% endblock content %}